{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criptografia</title>
</head>
<link rel="stylesheet" href="{% static 'index.css' %}">
<body>
    <p>Bem vindo</p>
    
    <p>Digite um nome para gerar uma chave criptografica:</p>
    <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="text" id="nome_gerar_chave" name="nomechave">
        <input type="submit" value="Gerar e baixar">
    </form>
    <p>Click em escolher arquivo para selecionar um arquivo para criptografar:</p>
    <form action="">
        <input type="file" id="file_to_cript" name="filename">
        <input type="submit">
    </form>

</body>
</html>