{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criptografia</title>
</head>
<link rel="stylesheet" href="{% static 'index.css' %}">
<body>
    <p>Bem vindo</p>
    
{% block content %}
    <form action="/newkey/" method="POST">{% csrf_token %}
        {{ form_generate_key }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
 

    <p>Click em escolher arquivo para selecionar um arquivo para criptografar:</p>
    <form action="">
        <input type="file" id="file_to_cript" name="filename">
        <input type="submit">
    </form>

</body>
</html>